/eforum-api/.classpath
/eforum-api/.project
/eforum-api/.settings
/eforum-api/bin
/eforum-front/.project
/eforum-front/.settings
/eforum-front/bin
/eforum-front/logs
/eforum-front/.classpath
/eforum-mgt/.project
/eforum-mgt/.settings
/eforum-mgt/bin
/eforum-mgt/.classpath
/eforum-front/src/main/resources/public/node_modules
/eforum-front/build
/eforum-api/build
/.gradle
/eforum-mgt/build
/eforum-front/src/main/resources/public/dist
/.idea
/build
/logs
/eforum-front/src/main/resources/webjar/node_modules
/eforum-front/src/main/resources/public/index.html
/eforum-mgt/eforum-mgt.iml
/eforum-front/eforum-front.iml
/eforum-api/eforum-api.iml
.DS_Store
/.gitignore
/.project
eforum-api/target/
eforum-front/target/
*.iml
eforum-model/target/
