<div class="col-md-9">
	<div class="panel panel-default">
	    <div class="panel-body">
			<h2 class="text-center">{{ article.title }}</h2>
			<p class="lead">
			{{ article.content }}
			</p>
	    </div>
	</div>
	
	<div>
		<ul class="list-group">
		    <li class="list-group-item" ng-repeat="comment in commentList">
		    	<span>{{ comment.user.name }}</span>
		    	<p>{{ comment.content }}</p>
			</li>
			<li class="list-group-item">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="评论" />
					<button type="submit" class="btn btn-default">发送</button>
				</div>
			</li>
		</ul>
    </div>

	<div ng-if="pageCount > 0">
		<ul class="pagination">
			<li ng-class="{disabled: currPageIndex == 0}"><a ng-click="previous()">&laquo;</a></li>
			<li ng-repeat="page in pageList"
				ng-class="{active: isActivePage(page)}">
				<a ng-click="selectPage(page)">{{ page }}</a>
			</li>
			<li ng-class="{disabled: currPageIndex == pageCount - 1}"><a ng-click="next()">&raquo;</a></li>
		</ul>
	</div>
</div>

<div class="col-md-3">
	<div class="list-group">
		<a href="#/" class="list-group-item active">
			<h4 class="list-group-item-heading">推荐文章</h4>
		</a>
		<a href="#/article/{{ article.id }}" class="list-group-item" ng-repeat="article in suggestionArticleList">
			<p class="list-group-item-text">
				{{ article.title }}
			</p>
		</a>
	</div>
</div>
