<div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="eforum-view-article-tile panel-heading">
				<div class="row">
					<div class="col-xs-10">
						<p hidden>{{article.id}}</p>
						<h2>{{article.title}}</h2>
					</div>
					<div class="col-xs-2">
						<h2>
							<img ng-if="article.topGrade > 0" alt="精华" src="article/image/zdt.png">
							<img ng-if="article.isEssence" alt="精华" src="article/image/jht.png">
						</h2>
					</div>
				</div>
				<div class="eforum-item-group-text row topic">
					<p class="col-xs-2" class="list-group-item-text">作者 {{article.createUserName}}</p>
					<p class="col-xs-8" class="list-group-item-text">发布时间 {{article.createTime|date:"yyyy-MM-dd HH:mm:ss"}}</p>
					<p class="col-xs-2" class="list-group-item-text">{{replyCount}} 条回复</p>
				</div>
			</div>
			<div>
				<div class="panel-body view-article-content"
					data-ng-bind-html="article.content"></div>
			</div>
		</div>
		<br> <br>
		<reply></reply>
	</div>
	<image-Directive></image-Directive>
</div>
<div class="col-md-3">
	<div class="list-group">
		<a href="#/" class="list-group-item active">
			<h4 class="list-group-item-heading">推荐文章</h4>
		</a>
		<a href="#/article/{{ article.id }}" class="list-group-item" ng-repeat="article in suggestionArticleList">
			<p class="list-group-item-text">
				{{ article.title }}
			</p>
		</a>
	</div>
</div>
