<div class="col-md-9" ng-controller="articleListController">
	<a class="list-group-item active">
		灌水区，大水比，不来一帖？
	</a>
	<div ng-repeat="x in articleList" class="eforum-list-group-item list-group-item">
		<a ng-click="viewArticle(x.id)">
			<h4 class="eforum-item-group-head-text list-group-item-heading">
				{{x.title}}
			</h4>
		</a>
		<div class="eforum-item-group-text row topic">
				<p class="col-xs-2" class="list-group-item-text">
					创建者 {{x.createUser.name}}
				</p>
				<p class="col-xs-4" class="list-group-item-text">
					更新于 {{x.lastUpdateTimeForAll|date:"yyyy-MM-dd HH:mm:ss"}}
				</p>
				<p class="col-xs-4" class="list-group-item-text">
					创建于 {{x.createTime|date:"yyyy-MM-dd HH:mm:ss"}}
				</p>
				<p class="col-xs-2" class="list-group-item-text">
					{{x.replyCount}} 条回复
				</p>
		</div>
	</div>
	<ul class="pagination">
	    <li><a href="#">&laquo;</a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#">&raquo;</a></li>
	</ul>
</div>

<div class="col-md-3">
	<div class="list-group">
		<a href="#/" class="list-group-item active">
			<h4 class="list-group-item-heading">推荐文章</h4>
		</a>
		<a href="#/article/{{ article.id }}" class="list-group-item" ng-repeat="article in suggestionArticleList">
			<p class="list-group-item-text">
				{{ article.title }}
			</p>
		</a>
	</div>
</div>
