<div class="col-md-9">
	<a class="list-group-item active">
		eforum元老区
	</a>
	<div ng-repeat="x in articleList" class="eforum-list-group-item list-group-item">
		<img data-delay='0,0' data-trigger="click" style="cursor: pointer;" data-animation="am-flip-x" bs-On-Before-Show="writeUserInfoToDataContent" data-template-url="views/popTemplate/userInfo.html" data-auto-close="1" bs-popover class="col-xs-1 img-circle articleListHeadPortrait" alt="{{x.createUserName}}" ng-src={{'/user/downloadheadPortrait/'+x.createUserId}} />
		<div class="col-xs-11">
			<div class="row">
				<div class="col-xs-10" >
					<h4 style="white-space:nowrap; text-overflow:ellipsis; overflow:hidden;" class="eforum-item-group-head-text list-group-item-heading">
						<a style="cursor: pointer;" ng-click="viewArticle(x.id)">{{x.title}}</a>
					</h4>
				</div>
				<div class="col-xs-2 efm-article-list-jh">
					<img ng-if="x.topGrade > 0" alt="置顶" src="article/image/zdt.png">
					<img ng-if="x.isEssence" alt="精华" src="article/image/jht.png">
					<button type="button" class="close offset1 col-md-1"  id="{{x.id}}" bs-on-show="openArticleManagerPanel" data-template-url="views/popTemplate/managerPanelForArticle.html?id=1" container="body" bs-modal="modal">o</button>
				</div>
			</div>
			<div class="eforum-item-group-text row topic">
				<p style="white-space:nowrap; text-overflow:ellipsis; overflow:hidden;" class="col-xs-2 list-group-item-text" >
					创建者 <a style="cursor: pointer;">{{x.createUserName}}</a>
				</p>
				<p class="col-xs-4 list-group-item-text">
					更新于 {{x.lastUpdateTimeForAll|myDate:x.currentTime}}
				</p>
				<p class="col-xs-4 list-group-item-text">
					创建于 {{x.createTime|date:"yyyy-MM-dd HH:mm:ss"}}
				</p>
				<p class="col-xs-2 list-group-item-text">
					{{x.replyCount}} 条回复
				</p>
			</div>
		</div>
		<br />
		<br />
		<br />
	</div>
	<tm-pagination conf="paginationConf"></tm-pagination>
</div>

<div class="col-md-3">
	<div class="list-group">
		<a href="#/" class="list-group-item active">
			<h4 class="list-group-item-heading">推荐文章</h4>
		</a>
		<a href="#/article/{{ article.id }}" class="list-group-item" ng-repeat="article in suggestionArticleList">
			<p class="list-group-item-text">
				{{ article.title }}
			</p>
		</a>
	</div>
</div>