<div>
	<div class="col-md-9">
		<div class="panel panel-primary">
			<div class="eforum-view-article-tile panel-heading">
				<p hidden>{{article.id}}</p>
				<h4 class="panel-title">{{article.title}}</h4>
				<div class="eforum-item-group-text row topic">
					<p class="col-xs-2" class="list-group-item-text">创建者 {{article.createUser.name}}</p>
					<p class="col-xs-4" class="list-group-item-text">更新于 {{article.lastUpdateTime}}</p>
					<p class="col-xs-4" class="list-group-item-text">创建于 {{article.createTime}}</p>
					<p class="col-xs-2" class="list-group-item-text">{{replyCount}} 条回复</p>
				</div>
			</div>
			<div>
				<div class="panel-body view-article-content"
					data-ng-bind-html="article.content"></div>
			</div>
		</div>
		<br> <br>
		<reply></reply>
	</div>
</div>
<div class="col-md-3">
	<div class="list-group">
		<a href="#/" class="list-group-item active">
			<h4 class="list-group-item-heading">推荐文章</h4>
		</a>
		<a href="#/article/{{ article.id }}" class="list-group-item" ng-repeat="article in suggestionArticleList">
			<p class="list-group-item-text">
				{{ article.title }}
			</p>
		</a>
	</div>
</div>
