<div class="col-md-9">
	<div class="panel panel-default">
	    <div class="panel-heading">
	        <h3 class="panel-title">最新文章</h3>
	    </div>
	    <div class="panel-body">
			<article-item title="标题1" content="测试数据" url="#/article/1"></article-item>
			<article-item title="标题2" content="测试数据" url="#/article/2"></article-item>
			<article-item title="标题3" content="测试数据" url="#/article/3"></article-item>
			<article-item title="标题4" content="测试数据" url="#/article/4"></article-item>
			<article-item title="标题5" content="测试数据" url="#/article/5"></article-item>
	    </div>
	</div>
</div>

<div class="col-md-3">
	<div class="list-group">
		<a href="#/" class="list-group-item active">
			<h4 class="list-group-item-heading">推荐文章</h4>
		</a>
		<a href="#/" class="list-group-item">
			<p class="list-group-item-text">
				测试数据
			</p>
		</a>
		<a href="#/" class="list-group-item">
			<p class="list-group-item-text">
				测试数据
			</p>
		</a>
		<a href="#/" class="list-group-item">
			<p class="list-group-item-text">
				测试数据
			</p>
		</a>
	</div>
</div>
