<div class="col-md-9">
	<div class="panel panel-default">
	    <div class="panel-heading">
	        <h3 class="panel-title">最新文章 </h3>
	    </div>
	    <div class="panel-body">
    		<article-item ng-repeat="article in articleList"
    			title="{{ article.title }}"
				description="{{ article.description }}"
	    		url="#/article/{{ article.id }}">
	    	</article-item>
	    </div>
	</div>

	<div ng-if="pageCount > 0">
		<ul class="pagination">
			<li ng-class="{disabled: currPageIndex == 0}"><a ng-click="previous()">&laquo;</a></li>
			<li ng-repeat="page in pageList"
				ng-class="{active: isActivePage(page)}">
				<a ng-click="selectPage(page)">{{ page }}</a>
			</li>
			<li ng-class="{disabled: currPageIndex == pageCount - 1}"><a ng-click="next()">&raquo;</a></li>
		</ul>
	</div>
</div>

<div class="col-md-3">
	<div class="list-group">
		<a href="#/" class="list-group-item active">
			<h4 class="list-group-item-heading">推荐文章</h4>
		</a>
		<a href="#/article/{{ article.id }}" class="list-group-item" ng-repeat="article in suggestionArticleList">
			<p class="list-group-item-text">
				{{ article.title }}
			</p>
		</a>
	</div>
</div>
