<div class="row">
	<div class="col-xs-6 col-md-offset-3">
		<h2>注册</h2>
		<form>
			<div class="form-group">
				<label for="email">昵称</label>
				<input type="text" class="form-control" ng-model="nickName" placeholder="昵称">
			</div>
			<div class="form-group">
				<label for="email">邮箱</label>
				<input type="text" class="form-control" ng-model="email" placeholder="邮箱">
			</div>
			<div class="form-group">
				<label for="password">密码</label>
				<input type="password" class="form-control" ng-model="password" placeholder="密码">
			</div>
			<button type="submit" class="btn btn-default" ng-click="reg()">注册</button>
		</form>
	</div>
</div>