<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} -%5p ${PID:-} [%15.15t] %-40.40logger{39} : %m%n" />
		</Console>
		<File name="File" fileName="logs/eforum-front.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} -%5p ${PID:-} [%15.15t] %-40.40logger{39} : %m%n" />
		</File>
	</appenders>
	<loggers>
		<root level="info">
			<appender-ref ref="Console" />
			<appender-ref ref="File" />
		</root>
		<logger name="org.eforum" level="debug"/>
	</loggers>
</configuration>