@charset "utf-8";

body {
	background: #ffffff;
}

.eforum-main {
	margin-top: 80px;
}

.view-article-content>p>img {
	max-width: 100%;
}

.eforum-list-group-item {
	padding: 10px 2px 1px 10px;
}

.eforum-item-group-text {
	color: #8c8c8c;
	font-size: 13px;
}

.eforum-item-group-head-text {
	color: #333;
	margin-top: 8px;
	margin-bottom: -1px;
}

.eforum-view-article-tile {
	padding: 10px 2px 0px 15px;
}

.eforum-item-group-text>p {
	padding: 10px 0px 0px 15px;
	margin-bottom: 1px;
}

.eforum-view-article-view-reply-text {
	padding: 1px 1px 5px 15px;
}

.eforum-view-article-view-reply-head>p {
	margin-bottom: 1px;
}

.eforum-view-article-view-reply-panel {
	margin-bottom: 1px;
}

.myHeadPortrait {
	width: 50px;
	height: 50px;
}

.articleListHeadPortrait {
	padding-left: 3px;
	padding-right: 3px;
	width: 7.33333333%;
}

.efm-article-list-jh {
	margin-top: 6px;
}

.replyListHeadPortrait {
	padding-left: 3px;
	padding-right: 3px;
	width: 7.33333333%;
	margin-top: 12px;
}

.mask {
	display: none;
}

.mask-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 80;
	opacity: 0.5;
	background: #000;
}

.big-pic-wrap {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -460px;
	margin-top: -300px;
	width: 920px;
	height: 620px;
	padding: 10px;
	z-index: 90;
	background: #fff;
}

.bigPic {
	width: 900px;
	height: 600px;
}
.close-pic {
	position: absolute;
	top: -5px;
	right: -5px;
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 50% !important;
	background: #393A3C;
	text-align: center;
	line-height: 40px;
}

.close-pic:hover {
	background: #D43F27;
}

.close-pic>i {
	font-size: 25px;
	color: #fff;
}