@charset "utf-8";

body {
	background: #ffffff;
}

.eforum-main {
	margin-top: 80px;
}

.view-article-content>p>img {
	max-width: 100%;
}

.eforum-list-group-item {
	padding: 10px 2px 1px 10px;
}

.eforum-item-group-text {
	color: #8c8c8c;
	font-size: 13px;
}

.eforum-item-group-head-text {
	color: #333;
	margin-top: 8px;
	margin-bottom: -1px;
}

.eforum-view-article-tile {
	padding: 10px 2px 0px 15px;
}

.eforum-item-group-text>p {
	padding: 10px 0px 0px 15px;
	margin-bottom: 1px;
}

.eforum-view-article-view-reply-text {
	padding: 1px 1px 5px 15px;
}

.eforum-view-article-view-reply-head>p {
	margin-bottom: 1px;
}

.eforum-view-article-view-reply-panel {
	margin-bottom: 1px;
}

.myHeadPortrait {
	width: 50px;
	height: 50px;
}

.articleListHeadPortrait {
	padding-left: 3px;
	padding-right: 3px;
	width: 7.33333333%;
}

.efm-article-list-jh {
	margin-top: 6px;
}

.replyListHeadPortrait {
	padding-left: 3px;
	padding-right: 3px;
	width: 7.33333333%;
	margin-top: 12px;
}

.mask {
	display: none;
}

.mask-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 88880;
	opacity: 0.5;
	background: #000;
}

.big-pic-wrap {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -200px;
	width: 720px;
	height: 420px;
	z-index: 88881;
	background: #fff;
	text-align: center;
}

.bigPic {
	width: 720px;
	height: 420px;
	position: relative;
}
.close-pic {
	position: absolute;
	top: -5px;
	right: -5px;
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 50% !important;
	background: #393A3C;
	text-align: center;
	line-height: 40px;
}

.close-pic:hover {
	background: #D43F27;
}

.close-pic>i {
	font-size: 25px;
	color: #fff;
}

/** popBoxPage */
.popBoxPage{
	display: none;
}

.mask-popBoxPage{
	position: fixed;
	top: 0;
	left: 0;
	width: 20000px;
	height: 20000px;
	z-index: 88880;
	opacity: 0.5;
	background: #000;
}
/** popBoxPageEnd */

.editPersonalInformation{
	position: fixed;
	top: 40%;
	left: 50%;
	margin-left: -300px;
	margin-top: -220px;
	width: 580px;
	height: 300px;
	z-index: 88881;
	background: #fff;
	text-align: center;
}

.editPasswordFrom{
	position: fixed;
	top: 40%;
	left: 50%;
	margin-left: -300px;
	margin-top: -200px;
	width: 580px;
	height: 250px;
	z-index: 88881;
	background: #fff;
	text-align: center;
}

.editPersonalInformationPageFieldset{
	margin-left: 45px;
	margin-right: 45px;
}

.editPersonalInformationPageFieldsetLab{
	text-align: right;
	padding-right: 4px;
	padding-top: 8px;
}

.editPersonalInformationPageFieldsetInput{
	padding-left: 1px;
}

.eforumFooter{
	padding-top: 100px;
}

/*
eforum自定义弹框css
 */

@keyframes eforumAlertHiden
{
	from {display: block;}
	to {display: none;}
}

#eforumAlert{
	top: 40%;
	left: 50%;
	padding: 10px;
	position: fixed;
	border-radius: 5px;
	animation: eforumAlertHiden 2s;
	-moz-animation: eforumAlertHiden 2s;	/* Firefox */
	-webkit-animation: eforumAlertHiden 2s;	/* Safari 和 Chrome */
	-o-animation: eforumAlertHiden 2s;	/* Opera */
	background-color: #efefef;
	transform:translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	box-shadow: 0px 0px 20px #888888;
	display: none;
}

#eforumAlert div{
	min-width:160px;
	min-height:40px;
	max-width: 200px;
	overflow-y: auto;
	max-height: 120px;
	text-align: center;
	word-wrap:break-word;
	vertical-align:middle;
}
#eforumAlert p{
	margin: 14px auto 14px auto
}
/** eforum自定义弹框 end*/

/** controlPanel end*/
.controlPanelH4{
	margin-top: 20px;
	border-top-width: 1px;
	border-top-style: ridge;
	padding-top: 5px;
	margin-bottom: 10px;
}
/** controlPanel end*/
