<form ng-controller="editPasswordController" id="editPasswordPage" style="display: none;" class="popBoxContent editPasswordFrom form-horizontal" name="changePasswordForm" novalidate>
        <fieldset>
            <div id="legend" class="">
                <legend class="">密码修改</legend>
            </div>

            <div>

                <div class="row">
                    <!-- Text input-->
                    <label class="col-xs-4 control-label" for="input01">旧密码</label>
                    <div class="col-xs-8 controls">
                        <input type="password" name="oldPassword" ng-model="editUser.oldPassword" placeholder="旧密码" class="col-xs-7 input-xlarge" type="text" required>
                        <p class="help-block"></p>
                        <span style="color: red" class="col-xs-5"  ng-show="changePasswordForm.oldPassword.$invalid">
                            <p style="margin: 0 0 0 0;" ng-show="changePasswordForm.oldPassword.$error.required">旧密码必输</p>
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">

                    <!-- Text input-->
                    <label class="col-xs-4 control-label" for="input01">新密码</label>
                    <div class="col-xs-8 controls">
                        <input type="password" name="newPassword" ng-model="editUser.newPassword" ng-minlength="8" ng-maxlength="16" placeholder="新密码" class="col-xs-7 input-xlarge" type="text" required>
                        <p class="help-block"></p>
                        <span style="color: red" class="col-xs-5"  ng-show="changePasswordForm.newPassword.$invalid">
                            <p style="margin: 0 0 0 0;" ng-show="changePasswordForm.newPassword.$error.minlength">密码长度不小于8</p>
                            <p style="margin: 0 0 0 0;" ng-show="changePasswordForm.newPassword.$error.maxlength">密码长度不超过16</p>
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">

                    <!-- Text input-->
                    <label class="col-xs-4 control-label" for="input01">确认新密码</label>
                    <div class="col-xs-8 controls">
                        <input  type="password" name="newPassword1" ng-model="editUser.newPassword1" ng-minlength="8" ng-maxlength="16" placeholder="再次输入你的新密码" class="col-xs-7 input-xlarge" type="text" required>
                        <p class="help-block"></p>
                        <span class="col-xs-5">
                            <span style="color: red"  ng-show="changePasswordForm.newPassword1.$invalid">
                                <p style="margin: 0 0 0 0;" ng-show="changePasswordForm.newPassword1.$error.minlength">密码长度不小于8</p>
                                <p style="margin: 0 0 0 0;" ng-show="changePasswordForm.newPassword1.$error.maxlength">密码长度不超过16</p>
                            </span>
                            <span style="color: red" ng-show="changePasswordForm.newPassword1.$valid">
                                <p style="margin: 0 0 0 0;" ng-show="editUser.newPassword1 != editUser.newPassword">两次密码输入不一致</p>
                            </span>
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="col-xs-3 control-label"></label>

                    <!-- Button -->
                    <div class="col-xs-6 controls">
                        <button ng-click="savePassword()" ng-disabled="changePasswordForm.newPassword1.$invalid || changePasswordForm.newPassword.$invalid|| changePasswordForm.oldPassword.$invalid || editUser.newPassword1 != editUser.newPassword" class="btn btn-success">保存</button>
                    </div>
                </div>
            </div>

        </fieldset>
    <span close-for-pop-box class="close-pic"><i class="fa fa-close"></i></span>
</form>
