<div>
	<div id="summernote"></div>
	<div ng-controller="replyController">
		<div class="eforum-view-article-reply">
			<div>
				<button ng-click="commitReply()">回复</button>
			</div>
		</div>
		<br> <br>
		<div class="eforum-view-article-view-reply" ng-repeat="x in replys" >
			<img data-delay='0,0' data-trigger="click" style="cursor: pointer;" data-animation="am-flip-x" bs-On-Before-Show="writeUserInfoToDataContent" data-template-url="views/popTemplate/userInfo.html" data-auto-close="1" bs-popover class="col-xs-1 img-circle replyListHeadPortrait" alt="{{x.createUserName}}" ng-src={{'/user/downloadheadPortrait/'+x.createUserId}}>
			<div class="col-xs-11 eforum-view-article-view-reply-panel panel">
				<div class="eforum-view-article-tile panel-heading">
					<div
						class="eforum-view-article-view-reply-head eforum-item-group-text row topic">
						<p style="white-space:nowrap; text-overflow:ellipsis; overflow:hidden;"  class="col-xs-2 list-group-item-text">{{x.createUserName}}</p>
						<p class="col-xs-10 list-group-item-text">回复于
							{{x.createTime|date:"yyyy-MM-dd HH:mm:ss"}}</p>
					</div>
				</div>
				<div class="eforum-view-article-view-reply-text panel-body" data-ng-bind-html="x.content">
				</div>
			</div>
		</div>
		<tm-pagination conf="paginationConf"></tm-pagination>
	</div>
</div>