<div class="modal ng-scope center am-fade-and-scale" ng-controller="editMessageController" tabindex="-1" role="dialog" aria-hidden="true"
     style="z-index: 1050; display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">
                    编辑信息
                </h4>
            </div>
            <textarea class="form-control" ng-model="message" style="resize: none;" rows="3" placeholder="在这里输入消息内容"></textarea>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="send()">发送</button>
            </div>
        </div>
    </div>
</div>